@font-face {
    font-family: norse-bold;
    src: url("Norse-Bold.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
}

.left-hand-side {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-basis: 35vw;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    font-family: sans-serif;
}

.left-hand-side div {
    padding: 0;
    background: rgba(0, 0, 0, 0.65);
    font-family: 'norse-bold';
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22vh;
    padding: 14px 0;
}

.left-hand-side div p {
    padding-top: 18px;
}

a:link ,a:link:visited {
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
    color: #cdcccc;
}

.left-hand-side > p {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 12px;
    color: #cdcccc;
    font-size: 10px;
}

.right-hand-side {
    flex-basis: 65vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
}

.right-hand-side > div:nth-child(2n - 1) {
    flex: 1 1 calc(100vh / 3);
}

span {
    font-style: italic;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 25vw;
    font-size: 10px;
    font-weight: 700;
    color: #666565;
}

form div {
    display: flex;
    flex-direction: column;
    padding-left: 2.5vw;
    padding-bottom: 2vh;
}

input {
    height: 2.5vh;
    width: 15vw;
    border:0.1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border-color: rgb(78, 78, 250);
    border-width: 1px;
    box-shadow: 2px 2px #E5E7EB;
}

#password:invalid, #confirm-password:invalid {
    outline: none;
    border-color: red;
    border-width: 1px;
    box-shadow: none;
}

.right-hand-side > div:nth-child(2) {
    background-color: white;
    font-size: 20px;
    font-weight: 550;
    color: #363333;
    padding-top: 2.5vh;
    padding-bottom: 3vh;
    box-shadow: 0 4px 5px #E5E7EB;
}

.right-hand-side > div:nth-child(2) > p {
    padding-left: 2.5vw;
    padding-bottom: 2.5vh;
}